m4
autom4te.cache
*.m4
config.h
configure
ltmain.sh
ar-lib
compile
config.guess
config.h.in
config.h.in~
config.sub
configure~
depcomp
install-sh
Makefile.in
missing
build
.deps
.vscode
config.log
config.status
libtool
Makefile
stamp-h1
cheezfs
cheezfs.o
mnt
